@model List<string>

<html>
<head>
	<title>Test</title>
</head>
<body>
	<h1>Helloooooooo</h1>

	<ul>
		@foreach (string user in Model)
		{
			<li>
				
				@user
				
			</li>
		}
	</ul>
</body>
</html>
